    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* navigation bar */
    .topnav {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        background-color: #333;
        z-index: 9px;
    }

    
    .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 18px;
        
    }
    
    .topnav a:hover {
        background-color: #ddd;
        color: red;
    }
    
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
    /*end of navigation bar */

    /* home page */
    .logo{
        filter: brightness(120%);
        width: 200px; 
        opacity: 0.9;
    }
    
    .homepageitem{
      position: absolute;
      text-align: center;
      align-self: center;
      justify-content: center;
      top: 30%;
      left: 10%;
      width: 30%;
    }

    .bgimage{
        background: url("background images/bgimage.jpg") no-repeat center;
        height: 900px;
        background-size: cover;
        padding: 20px 0px;
        position: relative;
        opacity: 0.5;
    }
    .memberbgimage{
      background: url("background images/gi-dle-dumdi-dumdi.jpg") no-repeat center;
      height: 900px;
      background-size: cover;
      padding: 20px 0;
      position: relative;
      opacity: 0.5;
  }
    .primary-title{
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
    }

    .musicvideo{
      position: absolute;
      text-align: center;
      justify-content: center;
      align-self: center;
      bottom: 0;
      left: 49%;
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
    }

    .musicvideo iframe{
      width:700px; 
      height:385px;
    }
    /*end of home page */

    /*first 3 members */
    .container {
        position: relative;
        width: 25%;
      }
      
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        opacity: 0;
        bottom: 100%;
        overflow: hidden;
        width: 100%;
        transition: .5s ease;
      }
      
      .container:hover .image {
        opacity: 0.3;
      }
      
      .container:hover .overlay {
        bottom: 0;
        height: 100%;
        opacity: 2;
      }
      
      .text {
        color: white;
        font-size: 17px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: darkslateblue;
        width: 330px;
        
      }
      /* end of first 3 members */

      /* next 3 members */
      .container2 {
        position: relative;
        width: 25%;
      }
      
      .image2 {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay2 {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
      }
      
      .container2:hover .image2 {
        opacity: 0.3;
      }
      .container2:hover .overlay2 {
        bottom: 0;
        height: 100%;
        opacity: 2;
      }
      
      .text2 {
        color: white;
        font-size: 17px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: darkslateblue;
        width: 330px;
      }
      /* end of last 3 members */

      .row{
          display: flex;
          justify-content: center;
          margin-top:80px;
          padding: 10px 10px
      }
      
      .row2{
          display: flex;
          justify-content: center;
          margin-bottom: 100px;
          padding: 10px 10px
      }

      .rowcontainer{
        position: absolute;
        top: 5%;
        left: 2%;
      }

      footer{
        background-color: grey;
      }
      footer p{
        text-align: center;
        font-size: 20px;
        margin:0;
      }
      .fbicon{
        width: 60px;
        margin-right: 15px;
      }
      .instagramicon{
        width: 60px;
      }
      .twittericon{
        width: 60px;
        margin-left: 15px;
      }
      .icons{
        text-align: center;
      }